[submodule "vendor/libsoundio"]
	path = vendor/libsoundio
	url = https://github.com/andrewrk/libsoundio
[submodule "vendor/speexdsp"]
	path = vendor/speexdsp
	url = https://github.com/xiph/speexdsp
[submodule "vendor/portaudio_opensles"]
	path = vendor/portaudio_opensles
	url = https://github.com/Gundersanne/portaudio_opensles
[submodule "vendor/opus"]
	path = vendor/opus
	url = https://github.com/xiph/opus
